{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aidea</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom indwex.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

    <!-- Navbar  -->
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="#">
                <img src="{% static 'image/LGAiDea.png' %}" alt="logo" style="width:40px;">

            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/index0.html" class="nav-link active" aria-current="page">หน้าหลัก</a>
                    </li>
                    <li class="nav-item">
                        <a href="/upload.html" class="nav-link">อัพโหลดรูปภาพ</a>
                    </li>
                    <li class="nav-item">
                        <a href="/index1.html" class="nav-link">วัตถุประสงค์และเงื่อนไขกิจกรรม</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar  -->
    <!-- Header -->
    <header class="text-white text-center container  col-md-10 col-lg-8 col-xl-7 col-xl-9 mx-auto">

    </header>



    <!-- Footer -->
    <footer class="container  col-md-10 col-lg-8 col-xl-7 col-xl-9 mx-auto ">


        <h3>
            <ul>
                <li id="B">ภาพถ่ายที่ส่งมาจะต้องเป็น ภาพถ่ายมุมสูงที่มองเห็นอุปกรณ์ และร่องรอยการชำรุดได้ชัดเจน ไม่มีสัญลักษณ์ต่างๆ บนภาพ ดูตัวอย่างรูปภาพ</li><br>
                <li id="B">สอบถามเพิ่มเติมผ่านช่องทาง <a href="#" class="visited-link">Line Openchat</a></li>
                <br>
                <li id="B"><a href="/index1.html" class="visited-link">วัตถุประสงค์และเงื่อนไขกิจกรรม</a></li>
            </ul>
        </h3>


        </div>
        <div class="container " id="A">

            <a href="/index2.html"> <button type="submit" class="btn-1 col-md-10 col-lg-8 col-xl-7 col-xl-9 mx-auto text-center " style="left: 25%;">อัพโหลดรูปภาพ</button> </a>

        </div>

    </footer>



</body>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-analytics.js"></script>

</html>
<script src="{% static 'js/bootstrap.min.js'%}"></script>